DB_NAME=healthpal_db
DB_USER=root
DB_PASSWORD=123456789
DB_HOST=localhost
DB_PORT=3306

PORT=3000


JWT_ACCESS_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTM5LCJyb2xlIjoiUEFUSUVOVCIsImlhdCI6MTc2MTkyODEyMiwiZXhwIjoxNzYxOTMxNzIyfQ.7MX1VsMJwvztM5Z0Ebx-ZZ13P_ug6Msevz-zZUV8Ffk
JWT_ACCESS_EXPIRES=15m
TRANSLATE_ENDPOINT=https://libretranslate.com/translate
TRANSLATE_API_KEY=   
