DB_NAME=healthpal_db
DB_USER=root
DB_PASSWORD=123456789
DB_HOST=localhost
DB_PORT=3306

PORT=3000


JWT_ACCESS_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTM5LCJyb2xlIjoiQURNSU4iLCJpYXQiOjE3NjE5NTIyMjUsImV4cCI6MTc2MTk1NTgyNX0.JAAbNG2Hi4GCvs5tX6m06LMGFrE5ewT5ko4rio5AMrI
JWT_ACCESS_EXPIRES=1h
