-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: healthpal_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alerts`
--

DROP TABLE IF EXISTS `alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alerts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `type` enum('OUTBREAK','AIR_QUALITY','URGENT_NEED','OTHER') NOT NULL,
  `title` varchar(200) NOT NULL,
  `content` text NOT NULL,
  `region` varchar(120) DEFAULT NULL,
  `issued_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alerts`
--

LOCK TABLES `alerts` WRITE;
/*!40000 ALTER TABLE `alerts` DISABLE KEYS */;
/*!40000 ALTER TABLE `alerts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `availability_slots`
--

DROP TABLE IF EXISTS `availability_slots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `availability_slots` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `doctor_id` bigint NOT NULL,
  `start_at` datetime NOT NULL,
  `end_at` datetime NOT NULL,
  `is_booked` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `doctor_id` (`doctor_id`,`start_at`),
  CONSTRAINT `availability_slots_ibfk_1` FOREIGN KEY (`doctor_id`) REFERENCES `doctor_profiles` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `availability_slots`
--

LOCK TABLES `availability_slots` WRITE;
/*!40000 ALTER TABLE `availability_slots` DISABLE KEYS */;
/*!40000 ALTER TABLE `availability_slots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `consultations`
--

DROP TABLE IF EXISTS `consultations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `consultations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `patient_id` bigint NOT NULL,
  `doctor_id` bigint NOT NULL,
  `slot_id` bigint DEFAULT NULL,
  `status` enum('PENDING','CONFIRMED','IN_PROGRESS','COMPLETED','CANCELLED') NOT NULL DEFAULT 'PENDING',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `mode` enum('VIDEO','AUDIO','ASYNC_MSG') NOT NULL DEFAULT 'AUDIO',
  `low_bandwidth` tinyint NOT NULL DEFAULT '0',
  `started_at` datetime DEFAULT NULL,
  `ended_at` datetime DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_consult_doctor_status` (`doctor_id`,`status`,`created_at`),
  KEY `idx_consult_patient_status` (`patient_id`,`status`,`created_at`),
  KEY `idx_consult_slot_time` (`slot_id`,`started_at`),
  CONSTRAINT `fk_consult_doctor` FOREIGN KEY (`doctor_id`) REFERENCES `doctor_profiles` (`user_id`),
  CONSTRAINT `fk_consult_patient` FOREIGN KEY (`patient_id`) REFERENCES `patient_profiles` (`user_id`),
  CONSTRAINT `fk_consult_slot` FOREIGN KEY (`slot_id`) REFERENCES `availability_slots` (`id`),
  CONSTRAINT `chk_consult_time` CHECK (((`ended_at` is null) or (`started_at` is null) or (`ended_at` >= `started_at`)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consultations`
--

LOCK TABLES `consultations` WRITE;
/*!40000 ALTER TABLE `consultations` DISABLE KEYS */;
/*!40000 ALTER TABLE `consultations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctor_profiles`
--

DROP TABLE IF EXISTS `doctor_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctor_profiles` (
  `user_id` bigint NOT NULL,
  `university_name` varchar(200) DEFAULT NULL,
  `graduation_year` year DEFAULT NULL,
  `gender` enum('M','F') DEFAULT NULL,
  `specialty` varchar(100) DEFAULT NULL,
  `license_no` varchar(100) DEFAULT NULL,
  `bio` text,
  `hire_date` date NOT NULL,
  `telehealth_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `license_no` (`license_no`),
  CONSTRAINT `fk_dp_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `chk_grad_year_min` CHECK (((`graduation_year` is null) or (`graduation_year` >= 1950)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctor_profiles`
--

LOCK TABLES `doctor_profiles` WRITE;
/*!40000 ALTER TABLE `doctor_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctor_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctorprofiles`
--

DROP TABLE IF EXISTS `doctorprofiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctorprofiles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `userId` int unsigned NOT NULL,
  `specialization` varchar(255) DEFAULT NULL,
  `qualifications` varchar(255) DEFAULT NULL,
  `clinicAddress` varchar(255) DEFAULT NULL,
  `licenseNumber` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `doctorprofiles_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctorprofiles`
--

LOCK TABLES `doctorprofiles` WRITE;
/*!40000 ALTER TABLE `doctorprofiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctorprofiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donations`
--

DROP TABLE IF EXISTS `donations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `donations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `donor_id` bigint NOT NULL,
  `case_id` bigint NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `payment_method` enum('CREDIT_CARD','PAYPAL','BANK_TRANSFER','CASH') NOT NULL DEFAULT 'CASH',
  `transaction_ref` varchar(100) DEFAULT NULL,
  `paid_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaction_ref` (`transaction_ref`),
  KEY `idx_donation_donor` (`donor_id`),
  KEY `idx_donation_case` (`case_id`),
  KEY `idx_donation_date` (`paid_at`),
  CONSTRAINT `fk_donation_case` FOREIGN KEY (`case_id`) REFERENCES `sponsorship_cases` (`id`),
  CONSTRAINT `fk_donation_donor` FOREIGN KEY (`donor_id`) REFERENCES `donor_profiles` (`user_id`),
  CONSTRAINT `donations_chk_1` CHECK ((`amount` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donations`
--

LOCK TABLES `donations` WRITE;
/*!40000 ALTER TABLE `donations` DISABLE KEYS */;
/*!40000 ALTER TABLE `donations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donor_profiles`
--

DROP TABLE IF EXISTS `donor_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `donor_profiles` (
  `user_id` bigint NOT NULL,
  `anonymity_pref` enum('PUBLIC','ANON') NOT NULL DEFAULT 'PUBLIC',
  `preferred_donation_type` enum('TREATMENT','MEDICINE','EQUIPMENT','GENERAL') NOT NULL DEFAULT 'GENERAL',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `fk_donor_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donor_profiles`
--

LOCK TABLES `donor_profiles` WRITE;
/*!40000 ALTER TABLE `donor_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `donor_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donorprofiles`
--

DROP TABLE IF EXISTS `donorprofiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `donorprofiles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `userId` int unsigned NOT NULL,
  `organization` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `donorprofiles_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donorprofiles`
--

LOCK TABLES `donorprofiles` WRITE;
/*!40000 ALTER TABLE `donorprofiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `donorprofiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment_inventory`
--

DROP TABLE IF EXISTS `equipment_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment_inventory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `owner_id` bigint NOT NULL,
  `item_id` bigint NOT NULL,
  `condition` enum('NEW','USED','NEEDS_REPAIR') DEFAULT 'USED',
  `quantity_available` int NOT NULL,
  `location_city` varchar(100) DEFAULT NULL,
  `availability_status` enum('AVAILABLE','RESERVED','OUT_OF_STOCK') DEFAULT 'AVAILABLE',
  PRIMARY KEY (`id`),
  KEY `fk_equipinv_user` (`owner_id`),
  KEY `fk_equipinv_item` (`item_id`),
  CONSTRAINT `fk_equipinv_item` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`),
  CONSTRAINT `fk_equipinv_user` FOREIGN KEY (`owner_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `equipment_inventory_chk_1` CHECK ((`quantity_available` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment_inventory`
--

LOCK TABLES `equipment_inventory` WRITE;
/*!40000 ALTER TABLE `equipment_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fulfillments`
--

DROP TABLE IF EXISTS `fulfillments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fulfillments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `request_id` bigint NOT NULL,
  `provider_user_id` bigint NOT NULL,
  `provided_qty` int NOT NULL DEFAULT '0',
  `status` enum('PENDING','OUT_FOR_DELIVERY','DELIVERED','FAILED') NOT NULL DEFAULT 'PENDING',
  `notes` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_fulfill_request_status` (`request_id`,`status`),
  KEY `idx_fulfill_provider` (`provider_user_id`),
  CONSTRAINT `fk_fulfill_provider` FOREIGN KEY (`provider_user_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `fk_fulfill_request` FOREIGN KEY (`request_id`) REFERENCES `supply_requests` (`id`),
  CONSTRAINT `chk_qty_nonneg` CHECK ((`provided_qty` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fulfillments`
--

LOCK TABLES `fulfillments` WRITE;
/*!40000 ALTER TABLE `fulfillments` DISABLE KEYS */;
/*!40000 ALTER TABLE `fulfillments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guides`
--

DROP TABLE IF EXISTS `guides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guides` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `body` text NOT NULL,
  `audience` enum('GENERAL','MATERNAL','CHRONIC','FIRST_AID') DEFAULT 'GENERAL',
  `published_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guides`
--

LOCK TABLES `guides` WRITE;
/*!40000 ALTER TABLE `guides` DISABLE KEYS */;
/*!40000 ALTER TABLE `guides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoices` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `case_id` bigint NOT NULL,
  `hospital_name` varchar(200) NOT NULL,
  `description` text,
  `amount` decimal(12,2) NOT NULL,
  `issued_date` date NOT NULL,
  `due_date` date DEFAULT NULL,
  `status` enum('UNPAID','PARTIALLY_PAID','PAID','CANCELLED') NOT NULL DEFAULT 'UNPAID',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_invoice_case_status` (`case_id`,`status`),
  CONSTRAINT `fk_invoice_case` FOREIGN KEY (`case_id`) REFERENCES `sponsorship_cases` (`id`),
  CONSTRAINT `invoices_chk_1` CHECK ((`amount` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `items`
--

DROP TABLE IF EXISTS `items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `type` enum('MEDICATION','EQUIPMENT') NOT NULL,
  `name` varchar(200) NOT NULL,
  `description` text,
  `unit` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `type` (`type`,`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items`
--

LOCK TABLES `items` WRITE;
/*!40000 ALTER TABLE `items` DISABLE KEYS */;
/*!40000 ALTER TABLE `items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medical_missions`
--

DROP TABLE IF EXISTS `medical_missions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medical_missions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ngo_id` bigint NOT NULL,
  `title` varchar(200) NOT NULL,
  `description` text,
  `location_city` varchar(100) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `status` enum('PLANNED','ONGOING','COMPLETED','CANCELLED') DEFAULT 'PLANNED',
  `mission_type` enum('SURGICAL','DENTAL','EYE','GENERAL_CLINIC','REHAB','OTHER') DEFAULT 'GENERAL_CLINIC',
  `contact_person` varchar(150) DEFAULT NULL,
  `contact_phone` varchar(30) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_mission_ngo` (`ngo_id`),
  CONSTRAINT `fk_mission_ngo` FOREIGN KEY (`ngo_id`) REFERENCES `ngo_profiles` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medical_missions`
--

LOCK TABLES `medical_missions` WRITE;
/*!40000 ALTER TABLE `medical_missions` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_missions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medication_inventory`
--

DROP TABLE IF EXISTS `medication_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `medication_inventory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `owner_id` bigint NOT NULL,
  `item_id` bigint NOT NULL,
  `quantity_available` int NOT NULL,
  `expiration_date` date DEFAULT NULL,
  `location_city` varchar(100) DEFAULT NULL,
  `verified` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `fk_medinv_user` (`owner_id`),
  KEY `fk_medinv_item` (`item_id`),
  CONSTRAINT `fk_medinv_item` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`),
  CONSTRAINT `fk_medinv_user` FOREIGN KEY (`owner_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `medication_inventory_chk_1` CHECK ((`quantity_available` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medication_inventory`
--

LOCK TABLES `medication_inventory` WRITE;
/*!40000 ALTER TABLE `medication_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `medication_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mission_announcements`
--

DROP TABLE IF EXISTS `mission_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mission_announcements` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `mission_id` bigint NOT NULL,
  `message` text NOT NULL,
  `target_audience` enum('ALL','PATIENTS','DOCTORS','VOLUNTEERS') DEFAULT 'ALL',
  `published_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_ma_announce` (`mission_id`),
  CONSTRAINT `fk_ma_announce` FOREIGN KEY (`mission_id`) REFERENCES `medical_missions` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mission_announcements`
--

LOCK TABLES `mission_announcements` WRITE;
/*!40000 ALTER TABLE `mission_announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `mission_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mission_appointments`
--

DROP TABLE IF EXISTS `mission_appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mission_appointments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `mission_id` bigint NOT NULL,
  `patient_id` bigint NOT NULL,
  `doctor_id` bigint NOT NULL,
  `appointment_date` datetime NOT NULL,
  `notes` text,
  PRIMARY KEY (`id`),
  KEY `fk_ma_mission` (`mission_id`),
  KEY `fk_ma_patient` (`patient_id`),
  KEY `fk_ma_doctor` (`doctor_id`),
  CONSTRAINT `fk_ma_doctor` FOREIGN KEY (`doctor_id`) REFERENCES `doctor_profiles` (`user_id`),
  CONSTRAINT `fk_ma_mission` FOREIGN KEY (`mission_id`) REFERENCES `medical_missions` (`id`),
  CONSTRAINT `fk_ma_patient` FOREIGN KEY (`patient_id`) REFERENCES `patient_profiles` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mission_appointments`
--

LOCK TABLES `mission_appointments` WRITE;
/*!40000 ALTER TABLE `mission_appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `mission_appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mission_volunteers`
--

DROP TABLE IF EXISTS `mission_volunteers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mission_volunteers` (
  `mission_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `role` enum('DOCTOR','NURSE','TRANSLATOR','VOLUNTEER','COORDINATOR') DEFAULT 'VOLUNTEER',
  `joined_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`mission_id`,`user_id`),
  KEY `fk_mv_user` (`user_id`),
  CONSTRAINT `fk_mv_mission` FOREIGN KEY (`mission_id`) REFERENCES `medical_missions` (`id`),
  CONSTRAINT `fk_mv_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mission_volunteers`
--

LOCK TABLES `mission_volunteers` WRITE;
/*!40000 ALTER TABLE `mission_volunteers` DISABLE KEYS */;
/*!40000 ALTER TABLE `mission_volunteers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ngo_partnerships`
--

DROP TABLE IF EXISTS `ngo_partnerships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ngo_partnerships` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ngo_id` bigint NOT NULL,
  `partnership_type` enum('MISSION_SUPPORT','SUPPLY','TRAINING','DONATION','OTHER') DEFAULT 'MISSION_SUPPORT',
  `agreement_date` date DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE','EXPIRED') DEFAULT 'ACTIVE',
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_np_ngo` (`ngo_id`),
  CONSTRAINT `fk_np_ngo` FOREIGN KEY (`ngo_id`) REFERENCES `ngo_profiles` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ngo_partnerships`
--

LOCK TABLES `ngo_partnerships` WRITE;
/*!40000 ALTER TABLE `ngo_partnerships` DISABLE KEYS */;
/*!40000 ALTER TABLE `ngo_partnerships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ngo_profiles`
--

DROP TABLE IF EXISTS `ngo_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ngo_profiles` (
  `user_id` bigint NOT NULL,
  `registry_no` varchar(100) DEFAULT NULL,
  `verified` tinyint DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `fk_ngo_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ngo_profiles`
--

LOCK TABLES `ngo_profiles` WRITE;
/*!40000 ALTER TABLE `ngo_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `ngo_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ngoprofiles`
--

DROP TABLE IF EXISTS `ngoprofiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ngoprofiles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `userId` int unsigned NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `registrationNumber` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `ngoprofiles_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ngoprofiles`
--

LOCK TABLES `ngoprofiles` WRITE;
/*!40000 ALTER TABLE `ngoprofiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `ngoprofiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patient_profiles`
--

DROP TABLE IF EXISTS `patient_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patient_profiles` (
  `user_id` bigint NOT NULL,
  `dob` date DEFAULT NULL,
  `gender` enum('M','F') DEFAULT NULL,
  `blood_type` enum('A+','A-','B+','B-','AB+','AB-','O+','O-') DEFAULT NULL,
  `height_cm` decimal(5,2) DEFAULT NULL,
  `weight_kg` decimal(5,2) DEFAULT NULL,
  `emergency_contact_phone` varchar(30) DEFAULT NULL,
  `country` varchar(80) DEFAULT NULL,
  `city` varchar(80) DEFAULT NULL,
  `marital_status` enum('SINGLE','MARRIED','DIVORCED','WIDOWED') DEFAULT NULL,
  `occupation` varchar(100) DEFAULT NULL,
  `preferred_language` varchar(10) DEFAULT 'ar',
  `allergies_summary` text,
  `chronic_conditions_summary` text,
  `medical_history` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `fk_pp_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `chk_height_nonneg` CHECK (((`height_cm` is null) or (`height_cm` >= 0))),
  CONSTRAINT `chk_weight_nonneg` CHECK (((`weight_kg` is null) or (`weight_kg` >= 0)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient_profiles`
--

LOCK TABLES `patient_profiles` WRITE;
/*!40000 ALTER TABLE `patient_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `patient_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patientprofiles`
--

DROP TABLE IF EXISTS `patientprofiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patientprofiles` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `userId` int unsigned NOT NULL,
  `dob` date DEFAULT NULL,
  `gender` enum('male','female','other') DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `medicalHistory` text,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `userId` (`userId`),
  CONSTRAINT `patientprofiles_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patientprofiles`
--

LOCK TABLES `patientprofiles` WRITE;
/*!40000 ALTER TABLE `patientprofiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `patientprofiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receipts`
--

DROP TABLE IF EXISTS `receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `receipts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `invoice_id` bigint NOT NULL,
  `paid_amount` decimal(12,2) NOT NULL,
  `payment_date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `payment_method` enum('CREDIT_CARD','PAYPAL','BANK_TRANSFER','CASH') NOT NULL DEFAULT 'CASH',
  `notes` text,
  PRIMARY KEY (`id`),
  KEY `idx_receipt_invoice` (`invoice_id`),
  KEY `idx_receipt_date` (`payment_date`),
  CONSTRAINT `fk_receipt_invoice` FOREIGN KEY (`invoice_id`) REFERENCES `invoices` (`id`),
  CONSTRAINT `receipts_chk_1` CHECK ((`paid_amount` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receipts`
--

LOCK TABLES `receipts` WRITE;
/*!40000 ALTER TABLE `receipts` DISABLE KEYS */;
/*!40000 ALTER TABLE `receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sponsorship_cases`
--

DROP TABLE IF EXISTS `sponsorship_cases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sponsorship_cases` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `patient_id` bigint NOT NULL,
  `title` varchar(200) NOT NULL,
  `description` text,
  `category` enum('SURGERY','CANCER','DIALYSIS','REHAB','OTHER') NOT NULL,
  `target_amount` decimal(12,2) NOT NULL,
  `raised_amount` decimal(12,2) NOT NULL DEFAULT '0.00',
  `goal_deadline` date DEFAULT NULL,
  `status` enum('OPEN','FUNDED','CLOSED') NOT NULL DEFAULT 'OPEN',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_sc_patient_status` (`patient_id`,`status`,`created_at`),
  KEY `idx_sc_status_category` (`status`,`category`),
  KEY `idx_sc_deadline` (`goal_deadline`),
  CONSTRAINT `fk_sc_patient` FOREIGN KEY (`patient_id`) REFERENCES `patient_profiles` (`user_id`),
  CONSTRAINT `chk_amounts_nonneg` CHECK (((`target_amount` >= 0) and (`raised_amount` >= 0))),
  CONSTRAINT `chk_raised_not_over` CHECK (((`raised_amount` <= `target_amount`) or (`target_amount` = 0)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sponsorship_cases`
--

LOCK TABLES `sponsorship_cases` WRITE;
/*!40000 ALTER TABLE `sponsorship_cases` DISABLE KEYS */;
/*!40000 ALTER TABLE `sponsorship_cases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sponsorshipcases`
--

DROP TABLE IF EXISTS `sponsorshipcases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sponsorshipcases` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text,
  `targetAmount` decimal(12,2) DEFAULT '0.00',
  `status` enum('open','funded','closed') DEFAULT 'open',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sponsorshipcases`
--

LOCK TABLES `sponsorshipcases` WRITE;
/*!40000 ALTER TABLE `sponsorshipcases` DISABLE KEYS */;
/*!40000 ALTER TABLE `sponsorshipcases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supply_requests`
--

DROP TABLE IF EXISTS `supply_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supply_requests` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `requester_id` bigint NOT NULL,
  `item_id` bigint NOT NULL,
  `quantity` int NOT NULL,
  `urgency_level` enum('LOW','MEDIUM','HIGH') DEFAULT 'MEDIUM',
  `notes` text,
  `status` enum('PENDING','MATCHED','FULFILLED','CANCELLED') DEFAULT 'PENDING',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_medreq_user` (`requester_id`),
  KEY `fk_medreq_item` (`item_id`),
  CONSTRAINT `fk_medreq_item` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`),
  CONSTRAINT `fk_medreq_user` FOREIGN KEY (`requester_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `supply_requests_chk_1` CHECK ((`quantity` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supply_requests`
--

LOCK TABLES `supply_requests` WRITE;
/*!40000 ALTER TABLE `supply_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `supply_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `support_group_members`
--

DROP TABLE IF EXISTS `support_group_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `support_group_members` (
  `group_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `joined_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `role` enum('MEMBER','FACILITATOR') DEFAULT 'MEMBER',
  PRIMARY KEY (`group_id`,`user_id`),
  KEY `fk_sgm_user` (`user_id`),
  CONSTRAINT `fk_sgm_group` FOREIGN KEY (`group_id`) REFERENCES `support_groups` (`id`),
  CONSTRAINT `fk_sgm_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `support_group_members`
--

LOCK TABLES `support_group_members` WRITE;
/*!40000 ALTER TABLE `support_group_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `support_group_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `support_groups`
--

DROP TABLE IF EXISTS `support_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `support_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `description` text,
  `topic` enum('PTSD','GRIEF','CHRONIC_ILLNESS','DISABILITY','LOSS','GENERAL') DEFAULT 'GENERAL',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `support_groups`
--

LOCK TABLES `support_groups` WRITE;
/*!40000 ALTER TABLE `support_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `support_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `therapy_sessions`
--

DROP TABLE IF EXISTS `therapy_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `therapy_sessions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `patient_id` bigint NOT NULL,
  `therapist_id` bigint NOT NULL,
  `mode` enum('VIDEO','AUDIO','CHAT') DEFAULT 'CHAT',
  `scheduled_at` datetime DEFAULT NULL,
  `started_at` datetime DEFAULT NULL,
  `ended_at` datetime DEFAULT NULL,
  `notes` text,
  `status` enum('PENDING','CONFIRMED','IN_PROGRESS','COMPLETED','CANCELLED') DEFAULT 'PENDING',
  `anonymous` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_therapy_patient` (`patient_id`),
  KEY `fk_therapy_therapist` (`therapist_id`),
  KEY `idx_therapy_status` (`status`,`scheduled_at`),
  CONSTRAINT `fk_therapy_patient` FOREIGN KEY (`patient_id`) REFERENCES `patient_profiles` (`user_id`),
  CONSTRAINT `fk_therapy_therapist` FOREIGN KEY (`therapist_id`) REFERENCES `doctor_profiles` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `therapy_sessions`
--

LOCK TABLES `therapy_sessions` WRITE;
/*!40000 ALTER TABLE `therapy_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `therapy_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(150) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `role` enum('PATIENT','DOCTOR','THERAPIST','TRANSLATOR','DONOR','NGO','MISSION_COORDINATOR','VOLUNTEER','COURIER','PHARMACY','HOSPITAL_STAFF','CONTENT_EDITOR','ALERT_MANAGER','FINANCE_MANAGER','MODERATOR','AUDITOR','ADMIN') NOT NULL DEFAULT 'PATIENT',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `status` enum('ACTIVE','INACTIVE') NOT NULL DEFAULT 'ACTIVE',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `role` enum('admin','patient','doctor','donor','ngo') NOT NULL DEFAULT 'patient',
  `phone` varchar(255) DEFAULT NULL,
  `isActive` tinyint(1) DEFAULT '1',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `webinar_registrations`
--

DROP TABLE IF EXISTS `webinar_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `webinar_registrations` (
  `webinar_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `registered_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`webinar_id`,`user_id`),
  KEY `idx_webreg_user` (`user_id`,`webinar_id`),
  CONSTRAINT `fk_webreg_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `fk_webreg_webinar` FOREIGN KEY (`webinar_id`) REFERENCES `webinars` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `webinar_registrations`
--

LOCK TABLES `webinar_registrations` WRITE;
/*!40000 ALTER TABLE `webinar_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `webinar_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `webinars`
--

DROP TABLE IF EXISTS `webinars`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `webinars` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `host_user_id` bigint DEFAULT NULL,
  `title` varchar(200) NOT NULL,
  `starts_at` datetime NOT NULL,
  `ends_at` datetime NOT NULL,
  `is_online` tinyint NOT NULL DEFAULT '1',
  `location` varchar(200) DEFAULT NULL,
  `max_attendees` int DEFAULT NULL,
  `current_attendees` int NOT NULL DEFAULT '0',
  `description` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_webinar_time` (`starts_at`),
  KEY `idx_webinar_host` (`host_user_id`),
  CONSTRAINT `fk_webinar_host` FOREIGN KEY (`host_user_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `chk_attendees_capacity` CHECK (((`max_attendees` is null) or (`current_attendees` <= `max_attendees`))),
  CONSTRAINT `chk_attendees_nonneg` CHECK ((`current_attendees` >= 0)),
  CONSTRAINT `chk_webinar_time` CHECK ((`ends_at` >= `starts_at`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `webinars`
--

LOCK TABLES `webinars` WRITE;
/*!40000 ALTER TABLE `webinars` DISABLE KEYS */;
/*!40000 ALTER TABLE `webinars` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-23 21:25:46
